/* line 1, ../../_compass/syntax.scss */
.highlight {
  background: #ffffff;
}

/* line 2, ../../_compass/syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 3, ../../_compass/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../../_compass/syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 5, ../../_compass/syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 6, ../../_compass/syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../../_compass/syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 8, ../../_compass/syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../../_compass/syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../../_compass/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../../_compass/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 12, ../../_compass/syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../../_compass/syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 14, ../../_compass/syntax.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 15, ../../_compass/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 16, ../../_compass/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 17, ../../_compass/syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../../_compass/syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../../_compass/syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../../_compass/syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../../_compass/syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../../_compass/syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../../_compass/syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../../_compass/syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../../_compass/syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../../_compass/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../../_compass/syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 28, ../../_compass/syntax.scss */
.highlight .s {
  color: #d14;
}

/* Literal.String */
/* line 29, ../../_compass/syntax.scss */
.highlight .na {
  color: #008080;
}

/* Name.Attribute */
/* line 30, ../../_compass/syntax.scss */
.highlight .nb {
  color: #0086B3;
}

/* Name.Builtin */
/* line 31, ../../_compass/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../../_compass/syntax.scss */
.highlight .no {
  color: #008080;
}

/* Name.Constant */
/* line 33, ../../_compass/syntax.scss */
.highlight .ni {
  color: #800080;
}

/* Name.Entity */
/* line 34, ../../_compass/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../../_compass/syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../../_compass/syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 37, ../../_compass/syntax.scss */
.highlight .nt {
  color: #000080;
}

/* Name.Tag */
/* line 38, ../../_compass/syntax.scss */
.highlight .nv {
  color: #008080;
}

/* Name.Variable */
/* line 39, ../../_compass/syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../../_compass/syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../../_compass/syntax.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 42, ../../_compass/syntax.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 43, ../../_compass/syntax.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 44, ../../_compass/syntax.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 45, ../../_compass/syntax.scss */
.highlight .sb {
  color: #d14;
}

/* Literal.String.Backtick */
/* line 46, ../../_compass/syntax.scss */
.highlight .sc {
  color: #d14;
}

/* Literal.String.Char */
/* line 47, ../../_compass/syntax.scss */
.highlight .sd {
  color: #d14;
}

/* Literal.String.Doc */
/* line 48, ../../_compass/syntax.scss */
.highlight .s2 {
  color: #d14;
}

/* Literal.String.Double */
/* line 49, ../../_compass/syntax.scss */
.highlight .se {
  color: #d14;
}

/* Literal.String.Escape */
/* line 50, ../../_compass/syntax.scss */
.highlight .sh {
  color: #d14;
}

/* Literal.String.Heredoc */
/* line 51, ../../_compass/syntax.scss */
.highlight .si {
  color: #d14;
}

/* Literal.String.Interpol */
/* line 52, ../../_compass/syntax.scss */
.highlight .sx {
  color: #d14;
}

/* Literal.String.Other */
/* line 53, ../../_compass/syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 54, ../../_compass/syntax.scss */
.highlight .s1 {
  color: #d14;
}

/* Literal.String.Single */
/* line 55, ../../_compass/syntax.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 56, ../../_compass/syntax.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 57, ../../_compass/syntax.scss */
.highlight .vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 58, ../../_compass/syntax.scss */
.highlight .vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 59, ../../_compass/syntax.scss */
.highlight .vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 60, ../../_compass/syntax.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
/* line 63, ../../_compass/syntax.scss */
.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

/* line 64, ../../_compass/syntax.scss */
.lineno::-moz-selection {
  background-color: transparent;
}

/* Mozilla specific */
/* line 65, ../../_compass/syntax.scss */
.lineno::-moz-selection {
  background-color: transparent;
}
.lineno::selection {
  background-color: transparent;
}

/* Other major browsers */
