<header class="site-header">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="{{ site.baseurl }}/">pomadgw's blog</a>
      <ul class="nav navbar-nav">
        {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="nav-item {% if page %}{% if page.title %}{% if page.title == my_page.title %}active{% endif %}{% endif %}{% endif %}">
          <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <form class="form-inline pull-xs-right" id="site_search" action="{{ "/search.html" | prepend: site.baseurl }}">
        <input class="form-control" type="text" id="search_box" name="q" placeholder="Search">
        <button class="btn btn-success-outline" type="submit">Search</button>
      </form>
    </nav>
</header>
<div class="container-fluid bg-header-intro-img" {% if page.main_image %}style="background-image: url({{ page.main_image | prepend: site.baseurl }});"{% endif %}>
</div>
