<header class="site-header">
    <nav class="navbar navbar-light bg-faded">
      <div class="nav-header">
        <button class="pull-xs-left navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapse-nav">
          &#9776;
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">pomadgw's blog</a>
        <div class="clearfix"></div>
      </div>
      <div class="collapse navbar-toggleable-xs" id="collapse-nav">
        <ul class="nav navbar-nav">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item {% if page %}{% if page.title %}{% if page.title == my_page.title %}active{% endif %}{% endif %}{% endif %}">
            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        <form class="form-inline pull-md-right" id="site_search" action="{{ "/search.html" | prepend: site.baseurl }}">
          <input class="form-control" type="text" id="search_box" name="q" placeholder="Search">
          <button class="btn btn-default" type="submit">Search</button>
        </form>
      </div>
    </nav>
</header>
<div class="container-fluid bg-header-intro-img" {% if page.main_image %}style="background-image: url({{ page.main_image | prepend: site.baseurl }});"{% endif %}>
</div>
