---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('2024-01-09T00:00:00.000Z')}
  heroImage="/img/Me.jpg"
>
  <p>
    This is the blog by Rian (aka pomadgw, that's me!), a software engineer working as
    front end developer in Jakarta (well, the office is Jakarta, currently doing
    remote work from home at Bogor.) I have worked in the front-end side since 2017.
  </p>
  <p>
    I know JavaScript, primarily work using React, and have experience using Vue.
    I have an interest in other JS frameworks, such as Svelte.
  </p>
  <p>
    I also know Ruby and Python and am currently learning to code in Rust, Go, and Kotlin.
  </p>
  <p>
    I can speak Indonesian and English, and currently learning Japanese.
    I also plan to learn Arabic and German.
  </p>
</Layout>
