---
type: archives
layout: default
---

<div class="home">

<header class="header">
  <h1 class="page-heading">
  Archive: {{ page.title }}
  </h1>
</header>

  <div class="post-list row">
  {% if page.month %}
    {% capture pagemonth %} {{ page.year | append: '-' | append: page.month }} {% endcapture %}
    {% for post in site.posts %}
      {% capture postmonth %} {{ post.date | date: '%Y-%m' }} {% endcapture %}
      {% if postmonth == pagemonth %}
        {% include archive_post_listings.html %}
      {% endif %}
    {% endfor %}
  {% elsif page.year %}
    {% capture pageyear %} {{ page.year }} {% endcapture %}
    {% for post in site.posts %}
      {% capture postyear %} {{ post.date | date: '%Y' }} {% endcapture %}
      {% if pageyear == postyear %}
        {% include archive_post_listings.html %}
      {% endif %}
    {% endfor %}
  {% elsif page.tag %}
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        {% include archive_post_listings.html %}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
</div>
