---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container main-data" id="main-data">
      {% include header.html %}
      
      <div class="wrapper-text{% if page.is_index == true %} isindex {% else %} notindex{% endif %}">
      <div class="row">
        <div class="col-xs-12">
            {{ content }}
        </div>
        
        <div class="col-xs-12">
          {% include footer.html %}
        </div>

        <footer class="text-xs-center credit">
          &copy; 2016. Rahadian Yusuf.
        </footer>
      </div>
      </div>
    </div>

    <!-- SCRIPT HERE -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script> -->
    <script src="{{ "/js/FileSaver.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/smartquotes.min.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
