<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      {% include header.html %}

      <div class="row main-data">
        <div class="col-sm-12 col-md-8">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4">
          {% include footer.html %}
        </div>

        <footer class="text-xs-center credit">
          &copy; 2015. Rahadian Yusuf.
        </footer>
      </div>
    </div>

    <!-- SCRIPT HERE -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
